<!DOCTYPE html>

<HTML ng-app="ListaClientes">
	<head>
		
		<title>Lista de Clientes</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	</head>
	
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Clientes</a>
					</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="index.html">Home</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">	
		
			<h1 class="text-center">Lista de clientes</h1>
			<div ng-controller="ClientesController as clientes">
				<table class="table">
					<tr>
						<th>#</th>
						<th>Nome</th>
						<th>Localização</th>
						<th>Pedidos</th>
						<th></th>
					</tr>
					<tr ng-repeat="cliente in clientes.clientes">
						<td>{{cliente.pos}}</td>
						<td>{{cliente.nome}}</td>
						<td>{{cliente.localizacao}}</td>
						<td>{{cliente.pedidos}}</td>
						<td><button type="button" class="btn btn-danger">Excluir</button></td>
					</tr>
				</table>
			</div>
		
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Digite os dados do cliente</h3>
			  </div>
			  <div class="panel-body">
	  			<form role="form" ng-controller="ClientesFormController as fromCtrl" ng-submit="adiciona()">
	  				<div class="form-group">
	  					<label for="nome">Nome:</label>
	  					<input type="text" class="form-control" id="nome" placeholder="digite o nome..." ng-model="nome">
	  				</div>
	  				<div class="form-group">
	  					<label for="localizacao">Localizacao:</label>
	  					<input type="text" class="form-control" id="localizacao" placeholder="digite a localização..." ng-model="localizacao">
	  				</div>
	  				<div class="form-group">
	  					<label for="pedidos">Pedidos:</label>
	  					<input type="text" class="form-control" id="pedidos" placeholder="quantos pedidos" ng-model="pedidos">
	  				</div>
	  				<button type="submit" class="btn btn-primary">Incluir</button>
	  			</form>
			  </div>
			</div>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
	
</HTML>


